{% load static %}
{% load staticfiles %}

<!doctype html>
<html ng-app="bookApp">

{% block head_html %}
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" />
{% endblock %}

<body>
  <h1>Book Details
    <button class="btn btn-default" onClick="location.href='{% url "books" %}'">Back</button>
    <button class="btn btn-default pull-right" onClick="location.href='{% url "index" %}'">Home</button>
  </h1>

  {% block content %}
  <div ng-controller="BookAuthorsEditCtrl">
    <div bookauthors-data></div>
  </div>
  {% endblock %}

  {% block script %}
  <script src="{% static "angular/angular.js" %}"></script>
  <script src="{% static "js/helpers.js" %}"></script>
  <script src="{% static "js/book.js" %}"></script>
  {% endblock %}

</body>
</html>
