<div ng-controller="BookAuthorsEditCtrl">
  <table border="1" class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Resource uri</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-value="book">
        <td><input class="form-control" ng-model="book.id" disabled></td>
        <td><input class="form-control" ng-model="book.title"></td>
        <td><input class="form-control" ng-model="book.resource_uri" disabled></td>
        <td><button class="btn btn-default" ng-click="saveBook(book.id);">Submit</button></td>
      </tr>
    </tbody>
  </table>
  <h2>Assign authors</h2>
  <form>
    <select multiple ng-model="bookauthors" size=15>
      <option ng-repeat="a in allauthors" value="{{a.resource_uri}}">{{a.name}}</option>
    </select>
    <button class="btn btn-default" ng-click="saveBookAuthors();">Submit</button>
  </form>
</div>
